#define WIFI_SSID "network-name"
#define WIFI_PASSWORD "network-password"
#define FIREBASE_HOST "https://some-server.firebasedatabase.app/"
#define FIREBASE_API_KEY "AIxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
